In [1]:
import pandas as pd

In [2]:
df = pd.read_json('src/data.json')
df

,javascript,java,python,c#,php,android,jquery,html,c++,css,...,qsqlquery,mmenu,windows-10-desktop,google-cloud-sdk,autodesk-model-derivative,fpm,splunk-query,stack-navigator,openapi-generator,azure-machine-learning-service
"(2008, 10)",727,1157,516,1993,624,11,259,329,813,229,...,0,0,0,0,0,0,0,0,0,0
"(2008, 11)",576,966,454,1729,507,8,262,325,742,203,...,0,0,0,0,0,0,0,0,0,0
"(2008, 12)",629,842,445,1599,481,6,257,296,638,200,...,0,0,0,0,0,0,0,0,0,0
"(2008, 7)",0,0,0,3,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
"(2008, 8)",163,224,127,505,162,4,28,109,166,63,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(2020, 6)",23223,12932,31631,9004,7128,8878,3664,9247,6121,6028,...,7,4,11,7,7,9,15,14,27,22
"(2020, 7)",23278,12413,30529,8883,6926,8648,3613,8975,5605,5891,...,4,3,7,3,10,10,17,18,26,20
"(2020, 8)",20865,11079,26566,8075,5861,7576,3031,7896,5133,5398,...,3,0,8,6,4,8,15,6,18,21
"(2020, 9)",19767,10925,25416,7402,5746,7424,2904,7560,4288,5037,...,3,2,8,9,10,8,24,12,19,20
"(2020, 10)",20389,11645,28270,7750,6216,7709,3000,8258,5143,5410,...,7,5,7,9,16,3,13,8,20,11

In [4]:
import re
# df.index.map(lambda x: x.replace(')',', 1)'))
df.index = df.index.map(lambda x: int(datetime(int(re.findall(r'[0-9]+',x)[0]), int(re.findall(r'[0-9]+',x)[1]), 1).timestamp()*1000))
df

,javascript,java,python,c#,php,android,jquery,html,c++,css,...,qsqlquery,mmenu,windows-10-desktop,google-cloud-sdk,autodesk-model-derivative,fpm,splunk-query,stack-navigator,openapi-generator,azure-machine-learning-service
1222804800000,727,1157,516,1993,624,11,259,329,813,229,...,0,0,0,0,0,0,0,0,0,0
1225486800000,576,966,454,1729,507,8,262,325,742,203,...,0,0,0,0,0,0,0,0,0,0
1228078800000,629,842,445,1599,481,6,257,296,638,200,...,0,0,0,0,0,0,0,0,0,0
1214856000000,0,0,0,3,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1217534400000,163,224,127,505,162,4,28,109,166,63,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1590958800000,23223,12932,31631,9004,7128,8878,3664,9247,6121,6028,...,7,4,11,7,7,9,15,14,27,22
1593550800000,23278,12413,30529,8883,6926,8648,3613,8975,5605,5891,...,4,3,7,3,10,10,17,18,26,20
1596229200000,20865,11079,26566,8075,5861,7576,3031,7896,5133,5398,...,3,0,8,6,4,8,15,6,18,21
1598907600000,19767,10925,25416,7402,5746,7424,2904,7560,4288,5037,...,3,2,8,9,10,8,24,12,19,20
1601499600000,20389,11645,28270,7750,6216,7709,3000,8258,5143,5410,...,7,5,7,9,16,3,13,8,20,11

In [7]:
df.sort_index(inplace=True)

,javascript,java,python,c#,php,android,jquery,html,c++,css,...,qsqlquery,mmenu,windows-10-desktop,google-cloud-sdk,autodesk-model-derivative,fpm,splunk-query,stack-navigator,openapi-generator,azure-machine-learning-service
1222804800000,727,1157,516,1993,624,11,259,329,813,229,...,0,0,0,0,0,0,0,0,0,0
1225486800000,576,966,454,1729,507,8,262,325,742,203,...,0,0,0,0,0,0,0,0,0,0
1228078800000,629,842,445,1599,481,6,257,296,638,200,...,0,0,0,0,0,0,0,0,0,0
1214856000000,0,0,0,3,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1217534400000,163,224,127,505,162,4,28,109,166,63,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1590958800000,23223,12932,31631,9004,7128,8878,3664,9247,6121,6028,...,7,4,11,7,7,9,15,14,27,22
1593550800000,23278,12413,30529,8883,6926,8648,3613,8975,5605,5891,...,4,3,7,3,10,10,17,18,26,20
1596229200000,20865,11079,26566,8075,5861,7576,3031,7896,5133,5398,...,3,0,8,6,4,8,15,6,18,21
1598907600000,19767,10925,25416,7402,5746,7424,2904,7560,4288,5037,...,3,2,8,9,10,8,24,12,19,20
1601499600000,20389,11645,28270,7750,6216,7709,3000,8258,5143,5410,...,7,5,7,9,16,3,13,8,20,11

In [5]:
import json
with open('data1.json','w') as fp:
    json.dump(df.to_dict(),fp, indent = 4)

In [52]:
df

,javascript,java,c#,php,android,jquery,python,html,c++,ios,...,retina-display,impersonation,serversocket,session-timeout,django-haystack,dotnetopenauth,qmake,fwrite,android-listfragment,unzip
1.214856e+12,0,0,3,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1.217534e+12,163,224,505,162,4,28,127,109,166,3,...,0,1,0,0,0,1,1,0,0,1
1.220213e+12,640,1156,1651,492,9,137,544,330,771,12,...,0,6,1,0,0,3,0,1,0,2
1.222805e+12,727,1157,1993,624,11,259,516,329,813,20,...,0,5,0,0,0,0,0,1,0,2
1.225487e+12,576,966,1729,507,8,262,454,325,742,21,...,0,1,0,1,0,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.454274e+12,25040,20036,14274,16655,16376,11479,14392,11117,7085,8921,...,6,10,13,9,18,2,17,15,12,18
1.456780e+12,26991,22494,15232,17079,18303,11807,15415,11635,7637,9051,...,3,15,21,9,24,4,24,17,8,19
1.459458e+12,26351,22340,15443,16584,17961,11477,15130,11410,7553,8495,...,6,25,27,8,27,5,17,21,11,19
1.462050e+12,26985,20829,15836,17319,17806,11815,14935,11917,7040,8444,...,9,11,23,4,17,4,8,13,9,23
1.464728e+12,10324,7980,6177,6827,6938,4309,5802,4613,2810,3370,...,3,3,9,1,14,1,10,8,2,8

In [11]:
from datetime import date

In [12]:
date(1900, 1, 1)

datetime.date(1900, 1, 1)

In [18]:
import xlrd
xlrd.xldate.xldate_from_date_tuple((2017, 1, 1),0)*24*3600

3692390400.0

In [21]:
1483401600000/24/3600/1000/365

47.038356164383565

In [3]:
from datetime import timezone
from datetime import datetime
# dt = datetime(2017, 1, 3)
# timestamp = dt.replace(tzinfo=timezone.utc).timestamp()*1000
# print(timestamp)

In [ ]:
1483401600000